* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0F1B4C;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins';
}

/* Common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    background: var(--primary-color);
    font-weight: 500;
    min-width: 9.8rem;
    border-radius: 12px;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    padding: 1.8rem 1.6rem;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Header */

.header {
    background: #E6F0FF;
    height: 100vh;
    position: relative;
}

.navbar {
    display: flex;
    /* background: red; */
    align-items: center;
    padding-top: 3.8rem;
}

.navbar ul {
    display: flex;
    margin-left: 38px;
}

.navbar .action {
    margin-left: auto;
}

.navbar ul a {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0 1.4rem;
    color: #4F5361;
}

.action {}

.navbar .action-link {
    color: var(--primary-color);
}

.navbar ul a:hover {
    text-decoration: underline;
}

.btn:hover {
    opacity: 0.9;
}

.hero {
    margin-top: 130px;
    /* display: flex; */
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.01em;
}

.hero .title {
    color: #000336;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.18;
    margin-top: 8px;
    /* 118.75% */
}

.hero .desc {
    color: #5A6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8;
    /* text-transform: capitalize; */
}

.hero-cta {
    min-width: 170px;
    margin-top: 40px;
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}

/* ======= Clients ========= */
.clients {
    margin-top: 79px;
    padding: 43px 0 41px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.row .desc {
    color: #7D8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25;
}

.row-desc {
    margin-top: 23px;
}

.clients .images {
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
}

/* ======= Guides ======= */

.guides {
    margin-top: 40px;
    padding: 79px 0;

    /* padding: 79px 378px; */
}

.guides .sub-title {
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    position: relative;
}

.guides .desc {
    color: #5A6473;
    margin: 20px auto 0;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    width: 459px;
    max-width: 100%;

    /* 187.5% */
}

.guides .sub-title::before {
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #000339;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);

}

.list-guides {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.list-guides .title {
    margin-top: 26px;
    color: #3B3C45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
}

.list-guides .link {
    display: inline-block;
    color: #0689FF;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    margin-top: 10px;
}

.guides-item {
    margin: 0 70px;
    text-align: center;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.fuatured {
    margin-top: 41px;
    background-color: #F5FAFE;

    padding: 110px 0
}

.fuatured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.fuatured .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
}


.fuatured .desc {
    color: #5A6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8;

}

.fuatured .link {
    display: flex;
    align-items: center;
    color: #0689FF;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
}

.fuatured .link .arrow {
    margin-left: 8px;

}

.fuatured .list {
    display: flex;
    margin-top: 70px;
    gap: 30px
}

.fuatured .item .thumb {
    width: 100%;
    height: 277px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

.fuatured .item .body .title a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;



}

.fuatured .item .body {
    padding: 17px 20px 24px
}

.fuatured .item .body .desc {
    --line-clamp: 3;
    color: #A3A6AB;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 11px;
}

.fuatured .item .body .info {
    margin-top: 22px;
    display: flex;
    align-items: center;
}

.fuatured .item {
    width: 100%;
    background-color: white;
    border-radius: 12px;

}

.fuatured .item .label {
    color: #4D4D52;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    /* 100% */
    letter-spacing: 0.14px;
    margin-left: 8px;
}

.fuatured .item .icon {
    margin-left: 8px;

}

.fuatured .item .icon:first-child() {
    margin-left: 0
}

/* Stats */
.stats {
    margin-top: 75px;
    padding: 50px 0;
    /* background: red; */
}

.stats .row {
    display: flex;

}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block .image {
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
    margin-left: auto;
    display: block;
}

.stats .info {
    padding: 79px 0 0 165px
}

.stats .sub-title {
    position: relative;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.29;
    width: 269px;
    height: 142px;
}

.stats .sub-title::before {
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
    display: block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.stats .info .desc {
    margin-top: 20px;
    color: #5A6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8;
    width: 309px;
    height: 150px;
    /* 187.5% */
}

.stats .img-block {
    position: relative;
}

.stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    background-color: white;
    border-radius: 0px 0px 12px 12px;
    padding: 45px 22px 40px;
}

.stats-trend .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.26px;
}

.img-block .icon {
    margin-left: auto;
}

.stats-trend .desc {
    margin-top: 8px;
    color: #A7A7A7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
}

.stats-trend .separate {
    height: 1.2px;
    background: #E9E9E9;
    margin-top: 25px;
}

.stats .avatar-block {
    margin-top: 26px;
    display: flex;
    gap: 16px 14px;
    flex-wrap: wrap;
}

.stats .avatar-group {
    display: flex
}

.stats .avatar {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -3px;
}

.stats .row-qty {
    margin-top: 110px;
    justify-content: space-between;
}

.stats .qty {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
}

.stats .qty-desc {
    color: #7B8087;
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 24px;
}

.subscription {
    margin-top: 90px;
}

.subscription .body {
    height: 370px;
    border-radius: 20px;
    background: #063183;
    display: flex;
    align-items: center;
    position: relative;
}

.subscription .info {
    padding: 0 80px
}

.subscription .sub-title {
    color: #FFF;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5;
}

.subscription .desc {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8;
    margin-top: 15px;
    /* 187.5% */
}

.subscription .btn {
    background: white;
    min-width: 151px;
    color: #002366;
    margin-top: 20px;
}
.subscription .image {
    position: absolute;
    bottom: 0;
    right:221px
}